@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif !important;
  --tw-ring-color: #ffffff00 !important;
}

:root {
  --ck-border-radius: 0.5rem;
}

input[type="text"] {
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 6px;
}

input[type="text"]:focus {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}

/* fix conflict tailwind and antd */
.ant-btn-primary {
  background-color: #1677ff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbdbdb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

img.ant-upload-list-item-image {
  object-fit: cover !important;
  border-radius: 5px;
}

.ant-upload-list-item::before {
  border-radius: 5px;
}

.ck.ck-balloon-panel.ck-powered-by-balloon {
  display: none;
}

.my-avt.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 230px;
  height: 230px;
  object-fit: cover;
  padding: 4px;
}

.my-avt.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select
  img {
  border-radius: 0.3rem;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}

.ck-content img,
.StyleInjectInnerHTML img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ck-content h2,
.StyleInjectInnerHTML h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
  font-weight: 700;
}

.ck-content h3,
.StyleInjectInnerHTML h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: 600;
}

.ck-content h4,
.StyleInjectInnerHTML h4 {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 0.2em;
  margin-bottom: 0.2em;
  padding-top: 0.8em;
  font-weight: 500;
}

.ck-content p,
.StyleInjectInnerHTML p {
  margin-bottom: var(--ck-spacing-large);
  font-size: 1em;
  line-height: 1.6em;
  padding-top: 0.2em;
}
